body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.big {
  font-size: 48px;
  color: #9E5A89;
}

.gradeshow {
  font-size: 23px;
}

.librus-purple {
  color: #9E5A89;
}

.faded {
  color: #7b8188;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #9E5A89 !important;
  border-color: #9E5A89 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(158, 90, 137, 0.25);
}


.form-control:focus {
  border-color: #9E5A89 !important;
  box-shadow: 0 0 0 0.2rem rgba(158, 90, 137, 0.25);
}